.gradient{
    -fx-background-color: linear-gradient(to bottom right, rgba(20,0,54,1) 0%, rgba(67,2,109,1) 27%, rgba(63,42,178,1) 64%, rgba(0,137,255,1) 100%);
}

.white-form{
    -fx-background-color: #fff;
}

.head-label{
    -fx-border-color: #3f5efb;
    -fx-text-fill: #3f5efb;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}

.login-btn{
    -fx-background-color: linear-gradient(to right, rgba(63,94,251,1) 0%, rgba(48,65,150,1) 50%, rgba(94,0,156,1) 100%);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.login-btn:hover{
    -fx-background-color: linear-gradient(to right, rgba(63,94,251,1) 0%, rgba(78,104,233,1) 50%, rgba(94,0,156,1) 100%);
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}